.pc{
    height: 25rem;
    width: 35rem;
}

.smallimg img{
    max-width: 230px;
    max-height: 84px;
    display: inline;
}

.smallimg{
    display: flex;
    max-height: 5rem;
}

.percent{
    background-color: orange;
    border-radius: 0.1rem;
}
.amount{
    font-size: 1.2rem;
    
}

#myDropdown{
    width: 260px;
    height: 30px;
    outline-color: aqua;
}

.the{
    width: 260px;
}

.counter{
    height: 2.8rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.payment{
    border: 1px solid rgb(216, 206, 206);
    border-radius: 5px;
}

.hr{
    border-left: 1px solid rgb(216, 206, 206);
}

/* .borde{
    border-bottom: 1px solid rgb(216, 206, 206);
    padding: 10px;
} */

.borders{
    border: 1px solid rgb(216, 206, 206);
    padding: 10px;
}

.borde button{
    background-color: transparent;
    outline-color: transparent;
}

.borde button:hover{
    border-bottom: 2px solid orangered;
}
/* .java img{
    height: 60px;
    width: 60px;
} */

p{
    font-size: small;
}

.java{
    gap: 1rem;
    border: 1px solid rgb(216, 206, 206);
    border-radius: 5px;
    margin: auto;
    padding: 9px;
    height: 100px;
}

div .pp{
    font-size: 0.8rem;
}